BROWSER_TYPE=Chrome
HEADLESS_MODE=false
APP_BASE_URL=https://practicetestautomation.com/practice-test-login/
API_BASE_URL=https://jsonplaceholder.typicode.com
TEST_USERNAME=student
TEST_PASSWORD=Password123
LOG_LEVEL=Information